body {
	font-family: Lato, sans-serif;
	background-color: #ddd;
	padding: 0 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

h1 {
	text-align: center;
	margin: 15px auto;
	color: #414142;
}

#registrationContainer {
	display: none;
}

#loggedInUserContainer {
	display: none;
}

#noQuestionsContainer {
	display: none;
	text-align: center;
	font-size: 1.5em;
}

#spinner{
	display: block;
	margin: 100px auto;
	width: 50px;
	height: 50px;
    -webkit-transition-property: -webkit-transform;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#light {
	font-weight: normal;
	color: #21a9e0;
}

#qa {
	font-size: 30pt;
	height: 300px;
	margin: 0 30px;
	display: table-cell;
	vertical-align: middle; 
}

#qaButton {
	width: 220px;
	cursor: pointer;
	margin: 15px auto;
	display: block;
	border: 0px;
	border-radius:6px;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:normal;
	padding: 10px 10px;
	text-align: center;
	text-decoration:none;
}

/*
.qaButton:active {
	background-color:#1a8aca;
	position:relative;
	top:1px;
}*/

#qaButton.rightButton {
	box-shadow:inset 0px -2px 0px 0px #27bd5f;
	background-color: #2bea73;
}

#qaButton.wrongButton {
	box-shadow:inset 0px -2px 0px 0px #cd2121;
	background-color: #e12a2a;
}

#qaButton.revealButton {
	box-shadow:inset 0px -2px 0px 0px #327794;
	background-color:#2aaae1;
}

#actionContainerContainer {
	text-align: center;
	bottom: 0;
	display: block;
}

#actionContainer {
	margin: 0 auto;
	width: 100%;
}

.action {
	display: inline-block;
}

.actionButton {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	cursor: pointer;
	display: block;
	border: 0px;
	box-shadow:inset 0px -2px 0px 0px #aaa;
	background-color:#bbb;
	border-radius:6px;
	color:#999;
	font-family:arial;
	font-size:21px;
	font-weight:normal;
	padding: 10px 10px;
	text-align: center;
	text-decoration:none;
}

.actionButton:active {
	background-color:#aaa;
	position:relative;
	top:1px;
}

.actionButton.source {
	background-image: url('images/source.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.actionButton.remove {
	background-image: url('images/remove.png');
	background-position: center center;
	background-repeat: no-repeat;

}

.actionText {
	color: #999;
}

.loginTextBox {
	display:block;
	margin: 0 auto 5px auto;
	width: 250px;
	/*height: 10px;*/
	font-size: 13pt;
	border: 1px solid #ccc;
	padding: 5px;
}::-webkit-input-placeholder {
	color: #ccc;
	font-weight: 200;
}

.otherButtonWrapper {
	margin: 15px 0;
	display: block;
	text-align: center;
}

.otherButton {
	cursor: pointer;
	/*margin: 15px auto;*/
	display: inline-block;
	border: 0px;
	box-shadow:inset 0px -2px 0px 0px #327794;
	background-color:#2aaae1;
	border-radius:6px;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:normal;
	padding:10px 40px;
	text-decoration:none;
}